*{margin: 0; padding: 0;} 
.name{
	font-size: 18px;
	color: darkblue;
}
.red{
	color: red;
	animation: anhien 1s forwards;
}
@-webkit-keyframes anhien{
	0%{opacity: 0;}
	20%{opacity: 1;}
	40%{opacity: 0;}
	60%{opacity: 1;}
	80%{opacity: 0;}
	100%{opacity: 1;}
}