*{margin: 0; padding: 0;}
body{
	overflow-x: hidden!important;
}
ul li{
	list-style: none;
}
ul li a{
	color: black;
}
.wrapper{
	width: 100%;
	height: auto;
	font-family: serif;
}
.wrapper .top .header{
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	border-bottom: 1px solid gray;
}
.wrapper .top .menu ul li{
	font-weight: bold;
}
.wrapper .top .menu ul li a{
	color: black;
	font-size: 18px;
}
.wrapper .content .slide .bg{
	height: 400px;
	width: 100%;
	background-size: cover;
	background-image: url('imager/slide1.png');
}